

.product-list-container{
    .product{
        transform-style: preserve-3d;
        transform: translateZ(20px);
        background: gray;
        color: white;
        border-radius: 10px;
        &:hover{
            position: relative;
            transform: scale(1.125);
            z-index: 1000;
        }
    }
}

.filterContainer{
    .searchContainer{
        display: flex;
        margin-left: 18px;
        margin-top: 5px;
    }

    .shops-list-filter{
        .list-item{
            padding-right: 0;
            & > div{
                min-width: unset;
            }
        }
    }

    .apllyFilters{
        padding-top: 0;
        display: flex;
    }
}